:root{
    --ubereat: #F4B30B;
    --lieferando: #F9883A;
    --wolt:#397FA6;
}


body{
    margin: 0 auto;
    width: 90%;
    background-color: #8DAFD7;
    justify-content: center;
    background-image: url(./dan-gold-4_jhDO54BYg-unsplash.jpg);
    /* opacity: 0.5; */
    background-size: cover;
    background-repeat: no-repeat;

}

.subnav{
    display: block;

}
.title{
 
    width: 520px;
    height: 70px;
    background-color: #B0DEBD;
    text-align: center;
    position: relative;
    font-size: 24px;
    margin: 20px;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    display: flex;
   
}
h1{
    position: relative;
    top: 0;
    left: 5px;
    font-size: 28px;
    padding-left: 10px;
}
.search-bar{
    width: 45%;
    position: relative;
    right: 0;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 0;
   justify-content: space-between;
}
.search-form{
  position: absolute;
  right: 5px;
  width: 230px;
  height: auto;

}
.search-item{
    width: 130px;
    height: 39px;
    position: absolute;
    left: 10px;
    top: 10px;
    margin-right: 5px;
    border-radius: 10px 0 0 10px;

}

.searchBtn{
    width: 60px;
    height: 45px;
    background-color: white;
    color: black;
    position: absolute;
    top: 10px;
    font-size: 14px;
    margin-left: 18px; 
    border-radius: 0 10px 10px 0;
    box-shadow: none;
}

.box_2{
    display: none;
}
.box_3{
    display: none;
}

@media(min-width: 780px){
    .title{
        width: 520px;
    }
    
 }
@media(min-width: 1280px) {
    .title{
       min-width: 1055px;
        height: 80px;
        margin-top: 50px;
       }
   .box_2{
    display: inline-block;
    }
    h1{
      
        font-size: 32px;
    }
}

@media(min-width: 1580px){
    .box_3{
        display: inline-block;
        
    }
    .title{
       min-width: 1600px;
    }
}

.box_title{
    width: 500px;
    height: 20px;
    padding: 15px 10px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 15px;
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 0 25px white;
}
.box_title1{
    background-color: var(--lieferando);}
.box_title2{
        background-color: var(--ubereat);}
.box_title3{
    background-color: var(--wolt);}
.food_company{
    width: 500px;
    height: 20px;
    position: absolute;
    /* top: 0; */
    bottom: 0px;
    display: block;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    color: white;
}

.liefrandoImage{
   height: 35px;
   width: auto;
   position: relative;
   left: 135px;
   bottom: 12px;
}

.box{
    background-color: var(--lieferando);
    width: 500px;
    height: 350px;
    /* border: 1px solid black; */
    border-radius: 0 0 20px 20px;
    display: flex;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 25px white;
    
}
.box-1{
    background-color: var(--lieferando);
}
.box-2{
    background-color: var(--ubereat);
}
.box-3{
    background-color: var(--wolt);

}

.resturant_name{
    font-size: 24px;
    padding: 10px;
    position: absolute;
    bottom: 110px;
}
.background_image{
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 20px 0;
    position: absolute;
    bottom: 170px;
    left: 0;
 
  }
  .mehak_indi{
      background-image: url(./istockphoto-177043240-612x612.webp)
  }
  .food_image{
      background-image: url(./mehdi-pezhvak-nKjBbzQOI60-unsplash.jpg);  
  }
  .pizzaVerde{
    background-image: url(./nicholas-grande-d9jcPTRD9fo-unsplash.jpg);
}
.pizzaDeliciosa{
    background-image: url(./ivan-torres-MQUqbmszGGM-unsplash.jpg);
}
.sushi_royal{
    background-image: url(./vinicius-benedit--1GEAA8q3wk-unsplash.jpg);
}
.parga_max{
    background-image: url(./suad-kamardeen-3lnsCAQm23U-unsplash.jpg);
}
.turkitch_kofte{
    background-image: url(./istockphoto-1210416394-170667a.jpeg);
}
.marmar_kebap{
    background-image: url(./engin-akyurt-SA1Ni6jSImk-unsplash.jpg);
}
.healthy_kitchen{
    background-image: url(./anh-nguyen-kcA-c3f_3FE-unsplash.jpg);
}
button{
  font-size: 28px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  left: 130px;
  justify-content: center;
  width: 240px;
  height: 55px;
  color: white;
  box-shadow: 0 0 15px black;

}
.liefrando-btn{
    background-color: black;
}
.liefrando-btn a{
    color: white;
}
.Uber-Eatbtn{
    background-color: #125FCA;
    color: white;
}
.Uber-Eatbtn a{
    color: white;
}
.wolt-btn{
    background-color: #D9D9D9;
    color: black;
}
.wolt-btn a{
    color: black;
}
a{
    text-decoration: none;
    display: block;

}


.details1{
    display: flex-end;
    position: absolute;
    bottom: 100px;
    left: 22px;
}
.details{
    display: flex-end;
    position: absolute;
    bottom: 55px;
    left: 10px;
    display: inline-block;
    justify-content: space-between;
}
span{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    left: 5px;


}

.icons-color{
    color: rgba(10, 9, 9, 0.5);
}

.uber-eat{
    background-color: #F4B30B;
}
.liefrenado{
    background-color: var(--lieferando);

}
.wolt-title{
    background-color: var(--wolt);
}

section{
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-left: 10px;
}
.lieferando-boxes{
    position: relative;
    margin: 10px;
    left: 0px;
    /* justify-content: space-between; */


}
.sections{
    /* justify-content: space-between ; */
    display: flex;


}
footer{
    background: white;
    width: 500px;
    height:140px;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    margin: 20px;
    justify-content: center;
    padding: 10px;
    display: block;
    
 
    }
.footer{
    width: 100%;
    height: 50;
    align-items: center;
    text-align: center;

}
@media(min-width: 1280px) {
    footer{
        width: 1040px;
        font-size: 24px;
        justify-content: space-between;
     
    }
    .footer{
        width: 30%;
        display: inline-block;
        height: 60px;
    }
}

@media(min-width: 1580px){
    footer{
        width: 1580px;
        font-size: 24px;
        justify-content: space-between;
        height: 60px;
       
    }
    .footer{
        width: 30%;
        display: inline-block;
    }
}
